
.left{float:left;}
.right{float:right;}
.clear{clear:both; font-size:1px; height:1px; line-height:1px; width:100%;}
a{text-decoration:none; outline:0;}
a img{border:none;}
a,form,ul{margin:0; padding:0;}
ul li{list-style-type:none;}
.center{text-align:center;}
.relative{position:relative;}
.post_content p{padding-bottom:18px; padding-right:20px;}

span.name{color:#609b02; font-weight:700;}
hr.line{background:url(images/line.jpg) repeat-x; width:100%; height:2px; border:none; margin:14px 0 28px; padding:0;}

table td{padding:10px; border-bottom:1px solid #d4d4d4; font-family:Arial;}
.content,.content_bottom{width:1000px; margin:0 auto;}
.content .post{float:left;}
.post_content p.bottom{margin-top:38px;}
.post_content p.bottom a{color:#2974b3; text-decoration:none;}
.post_content p.bottom a:hover{text-decoration:underline;}
.bg{background:url(images/body_bg.png) top repeat-x; width:100%;}
.post_content{float:left; padding-bottom:30px; padding-left:18px; width:782px; position:relative;}
.post_content ul{float:left; width:100%; list-style:none; margin-top:13px;}
.post_content ul li{background:url(images/checked.png) no-repeat scroll left top transparent; float:left; font-family:Arial; font-size:14px; margin-left:14px; margin-top:18px; padding-bottom:6px; padding-left:22px; width:100%;}
.post_content ol{float:left; width:92%; margin-top:-22px;}
.post_content ol li{float:left; font-family:Arial; line-height:18px; font-size:14px; margin-top:18px; padding-bottom:3px; padding-left:4px; padding-top:2px; width:100%;}
.post_content ol li.sub{background:none!important; list-style:none;}
.post_content ol li.sub .letter{padding-right:10px; float:left;}
.post_content ol li.sub p{float:none; padding:0 0 0 26px;}
.post_content p.priv{margin-top:4px; padding-bottom:0!important; padding:0 18px; padding-right:0!important;}
.internal_bg{width:100%;}
.head_side{width:100%; background:url(images/head_side_bg.jpg) center top no-repeat;}
.internal_head_side{width:100%; height:378px; background:url(images/internal_banner_bg.jpg) center top no-repeat; margin-bottom:60px;}
.internal_head_side_2{width:100%; height:321px; background:url(images/internal_banner_bg.jpg) center top no-repeat; margin-bottom:60px;}
a#privacy-header{display:block; height:85px; overflow:hidden;}
.header{width:1000px; margin-bottom:10px;}
.header a.logo{background:url(images/logo.png) top left no-repeat; width:230px; height:100px; float:left; margin-top:14px;}
.header .top_menu{width:669px; height:99px; float:right;}
.top_menu a.call{background:url(images/call.png) top left no-repeat; width:364px; height:34px; float:right; margin-bottom:10px; font-size:1px; line-height:1px; text-indent:-9999px;}
ul.buttons{float:right;}
ul.buttons li{display:inline; float:right; margin-left:3px;}
ul.buttons li a{display:block; height:40px;}
.banner_insider a.apply_now,ul.buttons li a{font-size:0; text-indent:-9999px; line-height:0;}
ul.buttons li.page_item.page-item-6 a{background:url(images/buttons/apply_now.png) left top no-repeat; width:111px;}
ul.buttons li.page_item.page-item-8 a{background:url(images/buttons/how_it_works.png) left top no-repeat; width:121px;}
ul.buttons li.page_item.page-item-12 a{background:url(images/buttons/choose.png) top left no-repeat; width:140px;}
ul.buttons li.page_item.page-item-14 a{background:url(images/buttons/about_us.png) top left no-repeat; width:98px;}
ul.buttons li.page_item.page-item-16 a{background:url(images/buttons/contact_us.png) left top no-repeat; width:98px;}
ul.buttons li.page_item.page-item-221 a{background:url(images/buttons/home-btn.png) left top no-repeat; width:80px;}
ul.buttons li.page_item a:hover,ul.buttons li.page_item.page-item-12.current_page_item a,ul.buttons li.page_item.page-item-14.current_page_item a,ul.buttons li.page_item.page-item-16.current_page_item a,ul.buttons li.page_item.page-item-221.current_page_item a,ul.buttons li.page_item.page-item-6.current_page_item a,ul.buttons li.page_item.page-item-8.current_page_item a{background-position:0 -40px; text-shadow:#0760a4 2px 2px 2px;}
.banner{width:1000px; position:relative;}
.guy_1{background:url(images/guy_1.png) top left no-repeat; width:170px; height:349px; position:absolute; top:-13px; left:58px;}
.guy_2{background:url(images/guy_2.png); width:140px; height:407px; position:absolute; top:-70px; right:60px;}
.banner_insider{width:512px; margin:0 auto;}
.banner_insider a.apply_now{background:url(images/apply_now.jpg) left top no-repeat; width:243px; height:93px; display:block; margin:18px auto 0;}
.banner_insider a.apply_now:hover{background-position:0 -97px;}
.banner_insider .cash_loans{font-style:italic; text-transform:capitalize; background:url(images/cash_loans.png) top left no-repeat; width:506px; height:66px; margin:20px 0 20px 11px;}
.banner_insider p{background:url(images/checked.png) left 4px no-repeat; padding-left:20px; text-align:center; margin:0 auto; color:#fff; font-family:helvetica,Arial; font-size:24px; line-height:27px; padding-bottom:16px; text-shadow:#0e7abb 3px 3px 3px;}
.banner_insider .p1{width:435px;}
.banner_insider .p2{width:384px;}
.banner_insider .p3{width:322px;}
.banner_insider .p4{width:204px; padding-bottom:0;}
.spenses{width:955px; margin:18px 0 70px 20px;}
.spenses .bottom,.spenses .top{line-height:1px; font-size:1px; width:955px; height:13px; text-align:center;}
.spenses .top{background:url(images/use_top.gif) top left no-repeat;}
.spenses .bottom{background:url(images/use_bottom.gif) top left no-repeat;}
.spenses .bottom img{margin-top:-4px;}
.spenses .middle{background:url(images/use_middle.gif) top left repeat-y; padding:0 20px 0 40px; width:895px;}
.spenses h3{font-size:24px; padding:0 35px; color:#8fc144; font-family:helvetica,Arial; font-weight:400; margin:0 auto; background:#fff; text-align:center; width:auto!important; width:100px; min-width:100px; display:inline; position:relative; z-index:3000;}
.spenses ul{padding:30px 0; float:left; width:895px;}
.spenses ul li{display:inline; float:left; margin-right:56px; text-align:center;}
.spenses ul li.last{margin-right:0!important;}
.spenses ul li span.title{text-align:center; color:#2d87b5; font-size:18px; font-family:helvetica,Arial; display:block;}
.spenses ul li img{text-align:center!important; margin:0 auto!important;}
.footer{width:931px; margin:0 auto 40px;}
.footer h4{color:#060606; font-family:"myriad Pro",Arial; padding-bottom:2px; font-size:16px;}
.footer ul{float:left; margin-right:50px; margin-right:50px\0/IE8+9;}
.footer ul li{margin-bottom:3px;}
.footer ul li a{color:#2d87b5; font-size:12px; font-family:helvetica,Arial;}
.footer ul li a:hover{text-decoration:underline;}
.footer .tst{width:242px; float:left; margin:0 35px 0 20px;}
.footer .tst p{font-style:italic; color:#4e4e4e; font-size:13px; font-family:helvetica,Arial; line-height:24px; margin-top:-4px; margin-left:-10px;}
.footer .tst p strong{font-style:normal!important; color:#4e4e4e!important;}
.footer table{margin-top:0;}
.footer table tr.logos a img{margin-right:15px; padding-bottom:10px;}
.footer table td{padding:0 0 1px;}
.footer table p,.footer table p a{font-size:12px; color:#4e4e4e; font-family:helvetica,Arial; line-height:21px; text-decoration:none;}
.footer table p a:hover{text-decoration:underline;}
.footer ul.adds{margin-right:0; width:auto;}
.footer ul.adds li{display:inline; float:left; margin-right:4px;}
.internal_banner{padding:25px 0 0 14px; position:relative;}
ul.req{margin-top:20px;}
ul.req li{background:url(images/checked.gif) left 3px no-repeat; padding:0 0 10px 26px; font-size:18px; font-family:helvetica,Arial; text-shadow:#1e5f9f 2px 2px 2px; color:#fff;}
.list_guy{background:url(images/list_guy.png) left top no-repeat; width:207px; height:496px; position:absolute; right:15px; top:4px;}
.apply_guy{z-index:1;  background:url(images/applynow-guy.png) left top no-repeat; width:383px; height:517px; position:absolute; right:-116px; top:21px;}
.about_guy{background:url(images/aboutus-guy.png) left top no-repeat; width:361px; height:470px; position:absolute; right:-34px; top:0;}
.choose_guy{background:url(images/whychooseus-guy.png) left top no-repeat; width:485px; height:481px; position:absolute; right:-60px; top:4px;}
.contact-guy{background:url(images/contact-guy.png) left top no-repeat; width:398px; height:395px; position:absolute; right:-126px; top:8px; z-index:999;}
.thankyou_guy{background:url(images/thankyou-guy.png) left top no-repeat; width:562px; height:336px; position:absolute; right:-144px; top:-7px;}
.list_guy_404{background:url(images/asking_guy.png) left top no-repeat; width:207px; height:496px; position:absolute; right:15px; top:4px;}
.form_box{margin:0 0 80px;}
.form_box.contact{margin:0 0 80px; float:left;}
.form_box .top{background:url(images/form_boxes/top_1.gif) left top no-repeat; width:958px; height:22px; line-height:1px; font-size:1px; padding:30px 0 0 42px; position:absolute;}
.form_box .bottom{background:url(images/form_boxes/bottom.gif) left top no-repeat; width:1000px; height:13px; line-height:1px; font-size:1px;}
.form_box .middle{background:url(images/form_boxes/middle.gif) left top repeat-y; padding:65px 20px 4px 40px;}
.form_box .middle .medium_input.textare textarea{background:url(images/textare.jpg) no-repeat scroll left top transparent; border:none; float:left; height:67px; padding:5px; width:195px;}
.form_box.contact .middle{color:#000; font-family:Arial,Helvetica,sans-serif; font-size:14px; height:407px; z-index:2;}
.form_box .middle .medium_input.textare{height:113px; background:0 0; border:none;}
.form_box h1{display:inline; color:#2974b3; font-weight:700; font-style:italic; padding:0 10px; font-size:35px; background:#fff;}
.form_box h1 span{color:#6ead0a;}
.form_box .middle .long_input,.form_box .middle .medium_input,.form_box .middle .short_input{padding-bottom:12px;}
.form_box p input{padding-bottom:30px; float:left; margin-right:10px;}
.form_box .middle label{font-family:helvetica,Arial; font-size:14px; color:#000; float:left;}
.form_box .middle div input{margin:3px 5px 0 8px; height:17px; font-family:Arial,Helvetica,sans-serif; color:#000; font-size:12px; border:none; background:0 0;}
.form_box .middle .long_input{background:url(images/form_boxes/long_input.gif) left top no-repeat; width:252px; height:32px; float:left;}
.form_box .middle .long_input input{width:233px;}
.form_box .middle .medium_input{background:url(images/form_boxes/medium_input.gif) left top no-repeat; width:202px; height:32px; float:left; position:relative;}
.form_box .middle .medium_input input{width:182px;}
.form_box .middle .short_input{background:url(images/form_boxes/short_input.gif) left top no-repeat; width:122px; height:32px; float:left; position:relative;}
.form_box .middle .short_input input{width:104px;}
.form_box .middle .short_input select{border:none; margin-left:5px; margin-top:7px; width:112px;}
.form_box .middle .medium_input select{border:none; margin-left:5px; margin-top:7px; width:185px;}
.short_input1{background:url(images/small_input.jpg) no-repeat scroll left 3px transparent; float:left; height:32px; width:77px;}
.short_input1 input{background:none repeat scroll 0 0 transparent!important; border:none!important; color:#ACACAC; font-family:Arial,Helvetica,sans-serif; font-size:12px; margin:2px 5px 0 8px!important; width:41px!important;}
#otherdetails_form{width:100%;}
#otherdetails_form tr{padding:0 8px 0 0;}
#otherdetails_form label{margin:5px 15px 0; min-width:122px; width:auto!important;}
#otherdetails_form td{padding:0 8px 0 0;}
#test{width:100%;}
#test tr{padding:0 8px 0 0;}
#test label{margin:5px 15px 0; min-width:122px; width:auto!important;}
#test td{padding:0 8px 0 0;}
#test1{width:100%;}
#test1 tr{padding:0 8px 0 0;}
#test1 label{margin:5px 15px 0; min-width:122px; width:auto!important;}
#test1 td{padding:0 8px 0 0;}
.form_box h4{background:none repeat scroll 0 0 #FFF; color:#2974B3; display:inline; float:left; font-size:20px; font-style:italic; font-weight:700; margin-bottom:16px; margin-left:1px; margin-top:-10px; padding:0 10px; width:98%;}
.texta{float:left;}
.medium_textarea{background:url(images/textarea_01.jpg) no-repeat scroll left top transparent; height:174px; width:599px; float:left;}
.medium_textarea textarea{border:none!important; height:98px!important; margin-left:4px; width:580px!important;}
.form_box .middle p{padding:0 15px 10px 11px;}
.form_box .middle{font-family:Arial,Helvetica,sans-serif; font-size:14px; color:#000;}
.form_box .middle table.form_1 td{padding:0 36px 0 0;}
.form_box .middle table.form_1 label{margin:5px 15px 0; width:145px;}
.form_box .middle table.form_2 td{padding:0;}
.form_box .middle table.form_2 td label{margin:8px 10px 0 15px; width:86px;}
.form_box .middle table.form_3 td{padding:0 80px 0 0;}
.form_box .middle table.form_3 label{margin:5px 15px 0; width:145px!important;}
.form_box .middle table.form_4 td{padding:0 8px 0 0;}
.form_box .middle table.form_4 label{margin:5px 15px 0; width:100px!important;}
.form_box .middle table.form_4 td.long label{width:auto!important; width:210px; min-width:210px;}
.form_box .middle table.form_6 td{padding:0 8px 0 0;}
.form_box .middle table.form_6 label{margin:5px 15px 0; width:230px!important;}
.form_box .middle table.form_7 td{padding:0 8px 0 0;}
.form_box .middle table.form_7 label{margin:5px 15px 0; width:230px!important;}
.asking_guy{z-index:1; background:url(images/asking_guy.png) no-repeat scroll left top transparent; height:436px; position:absolute; right:-39px; top:-28px; width:208px;}
input.long_submit{background:url(images/form_boxes/submit_application.jpg) left top no-repeat; width:351px; height:119px; border:none; margin:-30px auto 0; display:block; cursor:pointer;}
input.long_submit:hover{background:url(images/form_boxes/submit_application.jpg) left -119px no-repeat;}
input.contact{background:url(images/submit.jpg) no-repeat scroll left top transparent; border:none; cursor:pointer; display:block; height:90px; margin:-30px auto 0; width:161px;}
input.contact:hover{background:url(images/submit.jpg) left -91px no-repeat;}
.separator{height:1px; border-top:1px solid #e3e3e3; width:100%; margin:0 0 54px;}
.no-bottom{margin-bottom:0!important;}
div.wpcf7{margin:0; padding:19px 20px 4px 40px!important;}
div.wpcf7 .small_input{margin-bottom:11px; width:360px; color:#000; float:left; font-family:helvetica,Arial; font-size:14px;}
div.wpcf7 .small_textarea{float:left; width:100%;}
div.wpcf7 .small_input input{padding-bottom:0!important; width:179px; background:none repeat scroll 0 0 transparent; border:none; color:#000; font-family:Arial,Helvetica,sans-serif; font-size:12px; height:17px; margin:6px 5px 0 8px;}
div.wpcf7 .small_input p{float:left; width:105px; margin:10px 0 0; padding:0 5px 10px 11px;}
div.wpcf7 .small_input span.wpcf7-form-control-wrap{margin-top:-6px; background:url(images/form_boxes/medium_input.gif) no-repeat scroll left top transparent; float:left; height:32px; width:202px; border:none;}
div.wpcf7-validation-errors{border:2px solid #F7E700; float:right!important; margin-top:-121px!important; margin-right:26px!important;}
div.wpcf7 .captcha_wrapper span.wpcf7-not-valid-tip{position:absolute!Important; top:240%!important; left:-2px!important;}
div.wpcf7 .captcha_wrapper{margin-top:-86px!important; float:left;}
div.wpcf7 .small_input p.captcha_input{float:left;}
div.wpcf7 .small_input span.captcha_img{float:left; margin-top:8px; border:1px solid #ccc; padding:5px;}
div.wpcf7 a.email{color:#2D87B5;}
div.wpcf7 a.email:hover{text-decoration:underline;}
div.wpcf7-mail-sent-ok{border:2px solid #398F14; float:left!important; margin-top:-130px!important; display:none!important;}
span.wpcf7-not-valid-tip-no-ajax{border:none!important; color:red!important; font-size:10pt!important; left:0!important; margin-top:0; padding:2px!important; position:absolute; top:100%!important; width:227px!important; z-index:100!important;}
div.wpcf7 img.ajax-loader{border:none; display:none!important; margin-left:4px; vertical-align:middle;}
span.wpcf7-not-valid-tip{color:red!important; font-size:10pt; left:0!important; padding:1px; position:absolute; top:106%!important; width:235px!important; z-index:100; border:none!important; background:none!important;}
div.wpcf7 .small_textarea textarea{font-family:Arial,Helvetica,sans-serif; font-size:12px; background:url(images/textare.jpg) no-repeat scroll left top transparent; color:#000; max-width:196px; max-height:66px; min-width:196px; min-height:66px; border:none; float:left; height:67px; padding:5px; width:195px;}
.wpcf7-submit{background:url(images/submit.jpg) no-repeat scroll left top transparent!important; border:none!important; cursor:pointer; text-indent:-201px; display:block; height:90px!important; margin:42px auto 0!important; width:161px;}
.wpcf7-submit:hover{background:url(images/submit.jpg) left -91px no-repeat!important;}
div.wpcf7 .send{clear:both; float:left; margin-left:-20px; width:100%; margin-top:-73px;}
div.wpcf7 .small_textarea p{float:left; width:103px; margin:5px 0 0; padding:0 5px 10px 11px;}
.steps{margin-bottom:27px; width:900px; float:left;}
.steps h2{color:#2974B3; font-family:helvetica,arial; font-size:30px; font-weight:700; letter-spacing:-1px; padding-bottom:7px;}
.steps .item{float:left; width:750px;}
.steps img{float:left; margin-right:11px;}
.steps .item ul{float:left; list-style:none; margin-top:0; width:100%;}
.steps .item ul li{background:url(images/checked.png) no-repeat scroll left top transparent; float:left; font-family:Arial; font-size:14px; margin-left:14px; margin-top:0; padding-bottom:15px; padding-left:22px; width:100%;}
.gray_box{width:1000px; margin:19px 0 90px; position:relative;}
.gray_box .top{background:url(images/gray_box/top.gif) left top no-repeat; width:1000px; height:7px; line-height:1px; font-size:1px;}
.gray_box .bottom{background:url(images/gray_box/bottom.gif) left top no-repeat; width:1000px; height:7px; line-height:1px; font-size:1px;}
.gray_box .middle{background:url(images/gray_box/middle.gif) top left repeat-y; padding:9px 20px 9px 15px;}
.gray_box .middle .insider{float:left; width:672px;}
.gray_box .middle h4{padding-bottom:7px; font-family:helvetica,Arial; font-size:18px; letter-spacing:-1px;}
.gray_box .middle p{padding:25px 0 0;}
.gray_box a.apply_last{background:url(images/gray_box/apply.jpg) left top no-repeat; width:242px; height:66px; float:left; margin-right:17px; font-size:1px; line-height:1px; text-indent:-9999px;}
.gray_box a.apply_last:hover{background:url(images/gray_box/apply.jpg) left -66px no-repeat;}
.gray_box_short{width:1000px; margin:-20px 0 90px; position:relative;}
.gray_box_short .top{background:url(images/gray_box/top_short.jpg) left top no-repeat; width:1000px; height:7px; line-height:1px; font-size:1px;}
.gray_box_short .bottom{background:url(images/gray_box/bottom_short.jpg) no-repeat scroll left top transparent; font-size:1px; height:11px; line-height:1px; margin-left:-1px; width:1000px;}
.gray_box_short .middle{background:url(images/gray_box/mid_short.jpg) top left repeat-y; padding:9px 20px 9px 15px;}
.gray_box_short .middle .insider{float:left; width:706px; position:relative; z-index:9999;}
.gray_box_short .middle h4{padding-bottom:7px; font-family:helvetica,Arial; font-size:18px; letter-spacing:-1px;}
.gray_box_short .middle p{padding:25px 0 0;}
.gray_box_short a.apply_last{background:url(images/gray_box/apply.jpg) left top no-repeat; width:242px; height:66px; float:left; margin-right:17px; font-size:1px; line-height:1px; text-indent:-9999px;}
.gray_box_short a.apply_last:hover{background:url(images/gray_box/apply.jpg) left -66px no-repeat;}
.inputContainer{position:relative; float:left;}
.formError{position:absolute; top:300px; left:300px; display:block; z-index:5000; cursor:pointer;}
.ajaxSubmit{padding:20px; background:#55ea55; border:1px solid #999; display:none;}
.formError .formErrorContent{background:#ee0101; position:relative; z-index:5001; color:#fff; width:150px; font-family:tahoma; font-size:11px; border:2px solid #ddd; box-shadow:0 0 6px #000; -moz-box-shadow:0 0 6px #000; -webkit-box-shadow:0 0 6px #000; padding:4px 10px; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;}
.greenPopup .formErrorContent{background:#33be40;}
.blackPopup .formErrorContent{background:#393939; color:#FFF;}
.formError .formErrorArrow{width:15px; margin:-2px 0 0 13px; position:relative; z-index:5006;}
.formError .formErrorArrowBottom{box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; margin:0 0 0 12px; top:2px;}
.formError .formErrorArrow div{border-left:2px solid #ddd; border-right:2px solid #ddd; box-shadow:0 2px 3px #444; -moz-box-shadow:0 2px 3px #444; -webkit-box-shadow:0 2px 3px #444; height:1px; background:#ee0101; margin:0 auto; line-height:0; font-size:0; display:block;}
.formError .formErrorArrowBottom div{box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
.greenPopup .formErrorArrow div{background:#33be40;}
.blackPopup .formErrorArrow div{background:#393939; color:#FFF;}
.formError .formErrorArrow .line10{width:15px; border:none;}
.formError .formErrorArrow .line9{width:13px; border:none;}
.formError .formErrorArrow .line8{width:11px;}
.formError .formErrorArrow .line7{width:9px;}
.formError .formErrorArrow .line6{width:7px;}
.formError .formErrorArrow .line5{width:5px;}
.formError .formErrorArrow .line4{width:3px;}
.formError .formErrorArrow .line3{width:1px; border-left:2px solid #ddd; border-right:2px solid #ddd; border-bottom:0 solid #ddd;}
.formError .formErrorArrow .line2{width:3px; border:none; background:#ddd;}
.formError .formErrorArrow .line1{width:1px; border:none; background:#ddd;}
.footer a.ask-us{background:url(images/footer-btn.jpg) no-repeat; width:302px; height:104px; display:block; font-size:0; text-indent:-9999px; margin:4px 0 0 -10px; padding:0;}
.footer a.ask-us:hover{background:url(images/footer-btn.jpg) no-repeat 0 -104px;}
.footer p.copyright{text-align:center; margin-top:30px; color:#7C7C7C; font-size:12px;}
.footer p.copyright a{color:#7c7c7c; text-decoration:none;}
.footer p.copyright a:hover{text-decoration:underline;}
a.contact-btn{display:block; background:url(images/contact-us-btn.jpg) 0 0 no-repeat; width:242px; height:66px;}
a.contact-btn:hover{background-position:0 -66px;}
.form_box .middle table.form_4 label.width_140{width:140px!important;}
.form_box .middle table.form_4 label.width_85{width:85px!important;}
.applicant2,.otherdetails_form{display:none;}
.contact-details{float:right; line-height:28px; margin-right:276px; margin-top:-68px;}
ul.priv{margin-top:0;}
ul.priv li{margin-top:0; margin-bottom:18px;}
ul.choose li{background:url(images/checked.png) no-repeat scroll left 5px transparent; font-size:20px;}
a#testim-header{display:block; height:75px; overflow:hidden;}
.terms{font-size:11px; color:#7C7C7C; font-family:Arial,Helvetica,sans-serif; padding-top:20px;}
.terms ul{float:none; width:auto; list-style-type:circle; padding:0 0 15px; margin:0;}
.terms ul ul{padding:10px 0 0 15px;}
.terms ul li{background:url(images/terms-li-bg.jpg) no-repeat 0 4px; padding:0 0 7px 10px;}
.terms h2{font-size:15px; color:#7C7C7C; margin-bottom:20px;}
.terms h3{font-size:12px; color:#7C7C7C; margin-bottom:15px;}
.terms p{font-size:11px; color:#848282; margin-bottom:0;}
.terms table{margin-bottom:15px;}
.terms table td{padding:4px; border-bottom:1px solid #d4d4d4;}
.applicationbutton{margin-top:50px; margin-bottom:30px; text-align:center;}
.govrequ{margin-top:-33px; font-size:20px;}
.warningicon{}
ul.applynow li{list-style:square; margin-left:40px; line-break:1.6; margin-bottom:6px; font-size:14px; font-family:Helvetica,Arial,sans-serif;}
.applynowheader{color:#FFF; font-size:55px; font-family:Helvetica,Arial,sans-serif; font-style:italic; font-weight:600;}
.applynowheaderblue{color:#C1DBEC; font-size:40px; font-family:Helvetica,Arial,sans-serif; font-style:italic; font-weight:500;}
.client-login{background:url(images/client-login-button.png) no-repeat; display:block; height:100px; width:200px; text-indent:-99999px; overflow:hidden;}
.client-login:hover{background-position:0 -119px;}
.slider_move_left,.slider_move_right{display:inline-block; padding:0 5px; background-color:#e0e0e0;}
.slider_move_left{float:left;}
.slider_move_right{float:right;}
#medium-loans,#medium-loans-term,#quick-cash,#quick-cash-term,#small-loans,#small-loans-term{float:left; width:89%; margin:2px 12px;}
/*New Pop Up Style*/
.pop-heading{background-color: #0162a6; padding: 10px;}
.pop-heading h2{margin: 0; font-size: 20px; color: #fff; line-height: 22px;}
.payment-block{padding: 0 10px; background-color: #fff; /*height: 400px; overflow-y: scroll;*/}
.form_box .middle table.form_1 td .payment-block table{margin-bottom: 20px;}
.form_box .middle table.form_1 td .payment-block table td{padding: 10px;}
.form_box .middle .medium_input.div-select{display: inline-block; float: none; padding: 0;}
.form_box .middle table.form_1 td .payment-block table td select{display: inline-block; margin-left: 2px; width: 192px;}
div#ex3a.jqmDialog{top: 16%; width: 665px;}
.warning-table{border: 1px solid #d4d4d4; padding: 10px;}
.comparison-block{padding: 10px 10px; background-color: #fff;}
.form_box .middle table.form_1 td .comparison-block table{margin-bottom: 20px;}
.form_box .middle table.form_1 td .comparison-block table td{padding: 10px;}
div#ex3a1.jqmDialog{width: 365px; left: 36%;}
.content .post .step{position: relative;z-index: 2;}